#touch body .tabbable>.nav-tabs li#sidebar_plugin_bedlevelingwizard_wrapper_link>a:before, #touch body #navbar .nav>li#sidebar_plugin_bedlevelingwizard_wrapper_link>a:before {
    content: '\f0b2';
}

#touch body #navbar .navbar-inner .container .nav li.dropdown#all_touchui_settings li#sidebar_plugin_bedlevelingwizard_wrapper_link2 a:before {
    content: '\f0b2';
}

div#sidebar_plugin_bedlevelingwizard_wrapper>div.accordion-heading>a:before {
    speak: none;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f0b2';
    display: inline-block;
    position: relative;
    text-align: center;
	color: black;
}